<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;900&display=swap" rel="stylesheet">
    <link href="/css/master.css" rel="stylesheet" type="text/css">
    <link href="/css/index.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bowser/2.11.0/bundled.js"></script>
    <script src="/scripts/index.js"></script>
    <link rel="icon" href="data:,">
    <title>HPV</title>
</head>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <div class="container">
        <br />
        <!-- <p class="title">Welcome to Your Meeting about the HPV Vaccine!</p> -->

        <p class="title" id="IndexTitle"></p>
        <br />
        <br />
        <div class="selection-area">
            <div class="choose-alex">
                <a onclick="ContinueOrResetSession('Character_a')">
                    <img id="characterA" class="alex-snippet" src="" alt="Character A Image" />
                </a>
                <a onclick="ContinueOrResetSession('Character_b')">
                    <img id="characterB" class="alex-snippet" src="" alt="Character B Image" />
                </a>
            </div>
            <div class="choose-alex">
                <a onclick="ContinueOrResetSession('Character_c')">
                    <img id="characterC" class="alex-snippet" src="" alt="Character C Image" />
                </a>
                <a onclick="ContinueOrResetSession('Character_d')">
                    <img id="characterD" class="alex-snippet" src="" alt="Character D Image" />
                </a>
            </div>
        </div>

    </div>
    <script src="/scripts/deviceInfo.js"></script>

</body>

</html>